APACHE_NAME=web
APACHE_VERSION=2.4
APACHE_ROOT_FOLDER=/var/www/html

PHP_NAME=php
PHP_VERSION=8.0

MYSQL_NAME=mysql
MYSQL_VERSION=8.0

DB_ROOT_PASSWORD=Your password
DB_NAME=Your db
DB_USERNAME=your username
DB_PASSWORD=your password

PHPMYADMIN_NAME=phpmyadmin
PHPMYADMIN_VERSION=5.2
